body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.container-left {
    margin: 0;
}

.col-squeeze {
    padding-left: 5px;
    padding-right: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #ffffff;
  background-color: #666666;
}

.error {
    color: #aa0000;
}

#navbalance {
  float: right;
  height: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 15px;
  color: #ffffff;
}